.header {
  background-color: #ec4d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: flex-end;
  margin: 13px 0;
  padding: 7px 30px;
  border-radius: 0 50px 50px 0;
  max-width: 545px;
  width: 100%;
  background-color: #b83922;
  align-items: center;
}
.header__logo img {
  margin-right: 11px;
  max-width: 50px;
}
.header__logo h1 {
  font-size: 26px;
}
.header ul {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
  width: 100%;
  list-style: none;
  font-size: 20px;
}
.header ul li:hover {
  padding: 10px 13px;
  background-color: #b83922;
}
.header__panel {
  display: flex;
  margin: 13px 0;
  padding: 7px 0;
  border-radius: 50px 0 0 50px;
  max-width: 545px;
  width: 100%;
  background-color: #b83922;
}
.header__panel img {
  max-width: 40px;
  margin: 0 30px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #b83922;
  padding-top: 50px;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo img {
  margin-right: 11px;
  max-width: 50px;
}
.footer__logo h1 {
  font-size: 26px;
}
.footer__navigator {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  width: 100%;
}
.footer__navigator__menu {
  list-style: none;
}
.footer__navigator__menu li {
  font-size: 20px;
}

li {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0;
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

main {
  background-color: #1d1b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 100px;
}
main h4 {
  margin-bottom: 56px;
  font-size: 35px;
  text-transform: uppercase;
}
main .catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 32px;
  margin-bottom: 50px;
}
main .catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px 35px;
  border: 2px solid #b83922;
  background-color: #3e232b;
  max-width: 370px;
  width: 100%;
}
main .catalog__item img {
  margin-bottom: 40px;
  max-width: 270px;
}
main .catalog__item h6 {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 700;
}
main .catalog__item__text {
  margin-bottom: 30px;
  font-size: 20px;
}
main .catalog__item__price {
  margin-bottom: 22px;
  font-size: 22px;
}
main .catalog__item button {
  border: 2px solid #b83922;
  border-radius: 50px;
  background-color: #3e232b;
  padding: 8px 23px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
main .but {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  max-width: 200px;
  width: 100%;
}
main .but__left {
  display: flex;
  background-color: #b83922;
  max-width: 88px;
  width: 100%;
  height: 47px;
  border-radius: 50px 0 0 50px;
}
main .but__left img {
  margin: auto;
  max-width: 13px;
}
main .but__right {
  display: flex;
  background-color: #b83922;
  max-width: 88px;
  width: 100%;
  height: 47px;
  border-radius: 0 50px 50px 0;
}
main .but__right img {
  margin: auto;
  max-width: 13px;
}
main p {
  font-size: 10px;
}/*# sourceMappingURL=menu.css.map */